<html>
<head><title>项目详情</title></head>
<body>
<h1>{{.msg}}</h1>
<h1>项目详情</h1>
<table border="1" style="border-collapse: collapse;">
    <caption>
        <th>项目名称</th>
        <th>项目类型</th>
        <th>记点范围</th>
        <th>创建单位</th>
        <th>申请事项</th>
        <th>项目状态</th>
        <th>附件</th>
    </caption>
    <tr>
        <td align="center">{{.item.name}}</td>
        <td align="center">{{.item.type}}</td>
        <td align="center">{{.item.score_lower_range}} -  {{.item.score_higher_range}}</td>
        <td align="center">{{.item.create_org}}</td>
        <td align="center">{{.item.description}}</td>
        <td align="center">{{.item.status}}</td>
        <td align="center">
            {{range $idx, $path := .paths}}
                <a href={{strcat "/get_file?path=" $path}}>{{get_file_name $path}}</a>
            {{end}}
        </td>
    </tr>
</table>

{{if show_list .item.status}}
<h1>已导入学生名单</h1>
<table border="1" style="border-collapse: collapse;">
    <caption>
        <th>用户名</th>
        <th>记点</th>
        <th>备注</th>
        <th>状态</th>
    </caption>
    {{range $idx, $ap := .list}}
    <tr>
        <td align="center">{{$ap.userID}}</td>
        <td align="center">{{$ap.score}}</td>
        <td align="center">{{$ap.description}}</td>
        <td align="center">{{$ap.status}}</td>
    </tr>
    {{end}}
</table>
{{end}}

<h1>操作记录</h1>
<table border="1" style="border-collapse: collapse;">
    <caption>
        <th>操作者</th>
        <th>操作时间</th>
        <th>操作内容</th>
    </caption>
    {{range $idx, $record := .records}}
    <tr>
        <td align="center">{{$record.operator}}</td>
        <td align="center">{{$record.time}}</td>
        <td align="center">{{$record.operation}}</td>
    </tr>
    {{end}}
</table>

{{if show_operation .item.status}}
<h1>操作</h1>
<form action={{strcat1 "audit_added_item?itemID=" .item.itemID}} method="POST">
    {{if eq .item.status "待审核"}}
        <select name="action">
            <option value="2">预审核通过</option>
            <option value="3">预审核不通过</option>
        </select>
    {{end}}
    {{if eq .item.status "预审核通过"}}
        <select name="action">
            <option value="4">审核通过</option>
            <option value="5">审核不通过</option>
        </select>
    {{end}}
    <br>
    审核意见：<input name="opinion"/>
    <br>
    <input type="submit" value="提交">
</form>
{{end}}

</body>
</html>