<html>
<head><title>index</title></head>
<body>
<h1>{{.msg}}</h1>
<h1>home page</h1>

{{if eq .add_item 1}}
    <a href = "add_item.html">非基础项目立项</a>
{{end}}

{{if eq .add_basic_item 1}}
    <a href = "add_basic_item.html">基础项目立项</a>
{{end}}

{{if eq .apply 1}}
    <a href = "apply.html">项目申请</a>
{{end}}

{{if eq .audit_added 1}}
    <a href = "audit_added.html">非基础项目审核</a>
{{end}}

{{if eq .audit_basic 1}}
    <a href = "audit_basic.html">基础项目审核</a>
{{end}}

{{if eq .check_branch_info 1}}
    <a href = "check_branch_info.html">查看团支部信息</a>
{{end}}

{{if eq .check_record 1}}
    <a href = "check_record.html">申请记录</a>
{{end}}

{{if eq .check_student_info 1}}
    <a href = "check_student_info.html">查看学生信息</a>
{{end}}

{{if eq .create_new_org 1}}
    <a href = "create_new_org.html">创建单位</a>
{{end}}

{{if eq .create_new_manager 1}}
    <a href = "create_new_manager.html">管理员管理</a>
{{end}}

{{if eq .item_anal 1}}
    <a href = "item_anal.html">待审核项目统计</a>
{{end}}

{{if eq .manage_self_info 1}}
    <a href = "manage_self_info.html">个人信息管理</a>
{{end}}

<a href = "/logout">退出登录</a>

</body>
</html>